@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/* font-family: 'Barlow', sans-serif */

/* font-family: 'Fraunces', serif; */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fraunces', sans-serif;
    font-size: 18px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header{
    background-image: url('/images/desktop/image-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}

.img-wrapper{
    padding: 24px 16px;
}

.menu{
    padding: 14px 16px;
    display: flex;
    flex-direction: row;
}

.menu li{
    list-style-type: none;
    padding: 10px;
}

.menu li a{
    text-decoration: none;
    color: #fff;
}

nav .hamburger{
    display: none;
}

nav .hamburger:focus{
    outline: none;
}

.button{
    width: 100px;
    height: 30px;
    font-weight: 600;
    border: none;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
}


.main-heading{
    color: #fff;
    display: grid;
    place-items: center;
    letter-spacing: 2px;
    margin-top: 10px;
    font-size: 70px;
}

.arrow-down{
    margin-left: 48%;
    margin-top: 10%;
}

/* styling of section */
.graphic-design{
    background-image: url('/images/desktop/image-graphic-design.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.photography{
    background-image: url('/images/desktop/image-photography.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.content{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    font-family: 'Fraunces', serif;
    padding: 40px 60px;
    
}

.content h3{
    letter-spacing: 2px;
    font-size: 50px;
    margin-top: 50px;
}

.content p{
    font-family: 'Barlow',sans-serif;
    letter-spacing: 1px;
    margin-top: 20px;
    opacity: 0.8;
}

.content a{
    border-bottom: 1px solid hsl(51, 100%, 49%);
    text-decoration: none;
    color: #000;
    letter-spacing: 1px;
    font-family: 24px;
    font-weight: bold;
    margin-top: 10px;
}

.content a:hover{
    color: #000;
    border-bottom: 4px solid hsl(51, 100%, 49%);
}

 .img{
    background-image: url('/images/desktop/image-transform.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.img2{
    background-image: url('/images/desktop/image-stand-out.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
} 

.img-column{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.img-column h5{

    margin-top: 250px;
    font-family: 'Fraunces',sans-serif;
    letter-spacing: 2px;
    font-size: 32px;
    opacity: 0.8;
}

.img-column p{
    font-family: 'Barlow',sans-serif;
    letter-spacing: 1px;
    opacity: 0.8;
    margin-top: 40px;
    margin: 20px 40px;
}


/* testimonials styling */
.testimonials h2{
    text-align: center;
    font-family: 'Barlow',sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
    opacity: 0.6;
}

.testimonials-row{
    padding-left: 70px;
    padding-right: 70px;
}

.col-md-4{
    text-align: center;
}
.col-md-4 img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.col-md-4 p{
    margin-top: 20px;
    font-family: inherit;
    font-weight: 500;
}

.col-md-4 ul{
    margin-top: 40px;
}

.col-md-4 ul li{
    list-style-type: none;
}

.author-name{
    font-family: 'Fraunces',sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.col-md-4 ul li:last-child{
    opacity: 0.8;
}

.works{
    margin-top: 100px;
}

.works img{
    width: 100%;
    padding: 0;
}

.col-md-3{
    padding: 0 !important;
}

.col-md-3 img:last-child{
    display: none;
}



.footer{
    background-color: hsl(168, 34%, 41%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer h2{
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces',sans-serif;
    font-weight: bolder;
}

.features{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.features li{
    list-style-type: none;
    padding: 10px;
    padding-right: 40px;
    color: hsl(212, 27%, 19%);
    font-weight: 600;
}

.features li:hover{
    cursor: pointer;
    color: #fff;
}

.social-icons{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}

.social-icons li{
    list-style-type: none;
    padding-right: 30px;
}

.social-icons li:hover{
    cursor: pointer;
    opacity: 0.3;
}


/* active states */
.button:hover{
    color: #fff;
    opacity: 0.6;
}

@media screen and (max-width : 768px) {


    header{
        background-image: url('/images/mobile/image-header.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 550px;
    }

    header h1{
        text-align: center;
    }

    .arrow-down{
        margin-top: 70px;
    }
    nav .hamburger{
        display: block;
    }
    .menu{
        display: none;
    }

    nav{
        padding: inherit 0;
    }

    nav .hamburger{
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
        padding-right: 10px;
        padding-top: 24px;
    }

    nav .hamburger .close{
        display: none;
       
    }

    nav .hamburger.show .open{
        display: none;
    }
    nav .hamburger.show .close{
        display: block;
        height: 30px;
        width: 30px;
    }
    nav ul.show{
        color: #fff;
        display: flex;
        flex-direction: column;
        position: fixed;
        padding-top: 10px;
        margin: 0;
        top: 70px;
        left: 0;
        width: 100vw;
        height: calc(100vh - 70px);
        z-index: 100;
    }
    nav ul li{
        margin: 10px 10px;
        text-align: right;
    }

    .img{
        background-image: url('/images/mobile/image-transform.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }

    .img2{
        background-image: url('/images/mobile/image-stand-out.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 500px;
    }


    .graphic-design{
        background-image: url('/images/mobile/image-graphic-design.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 675px;
    }
    
    .photography{
        background-image: url('/images/mobile/image-photography.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        height: 675px;
    }

    .img-column h5{
        margin-top: 450px;
    }

    .img-column p{
        margin-top: 40px;
    }

    .testimonials h2{
        letter-spacing: 3px;
        opacity: 0.5;
    }

    .col-md-3 img:last-child{
        display: block;
    }

    .col-md-3 img:first-child{
        display: none;
    }

}